<hr class="spacer" style="height: 13vh;">
<h1 class="display-2" style="text-align: center; margin: 0px;">Friendship sponsor</h1>

<div id="pressContainer" class="container">
	<img class="press" src="/res/i/forbes.png" alt="forbes">
	<img class="press" src="/res/i/sina.png" alt="sina">
	<img class="press" src="/res/i/exame.png" alt="exame">
	<hr class="spacer" style="height: 1vh;">
	<img class="press" src="/res/i/webrazzi.png" alt="webrazzi">
	<img class="press" src="/res/i/techcrunch.png" alt="techcrunch">
	<hr class="spacer" style="height: 1vh;">
	<img class="press" src="/res/i/folha.png" alt="folha">
</div>

<hr class="spacer" style="height: 10vh;">

<div class="f-footer">
	<div class="f-footer-box clearfix">
		<div class="footer-link">
			<a href="javascript:void(0);"  target="_blank" title="Business cooperation">Business cooperation</a> 
			<a href="javascript:void(0);" target="_blank" title="Contact us">Contact us</a> 
			<a href="javascript:void(0);" target="_blank" title="Q&A">Q&A</a> 
			<a href="javascript:void(0);" target="_blank" title="Feedback">Feedback</a>
			<a href="javascript:void(0);" target="_blank" title="Link">Link</a>
		</div>
		
		<div class="footer-copyright">
			<span>©&nbsp;2020&nbsp; For the record </span>
		</div>
	</div>
</div>

