<div class="f-header">
	<div class="f-header-box clearfix">
		<a href=".."  class="logo" title="Full - level English online learning platform"></a>
		<nav class="header-nav">
			<a href="http://localhost:8080/index.html" class="header-nav-item">INDEX</a>
			<a href="http://localhost:8080/course/list.html" class="header-nav-item">COURSE</a>
			<a href="../user/home.html" class="header-nav-item">MIME</a>
			<a href="../opt/index.html"  style="width:100px;" target="_blank" class="header-nav-item">OPERATE</a>
			<a href="http://m.ioswift.org" target="_blank" class="header-nav-item" style="width:100px;">M站</a>
		</nav>
	</div>
</div>
<script>
function reloadIndityImg(eleId){
	document.getElementById(eleId).src = CONTEXT_PATH + "/tools/identiry/code.html?ticket=" + Math.random();
}
</script>