<!DOCTYPE html>
<html lang="utf-8">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>Full - level English online learning platform</title>
		<#include "../common/res.html">
	</head>

	<body>	
		<#include "../common/header2.html">
		<div class="f-main-login">
			<div class="types-block clearfix" style="text-align: center;">
				<h3 class="types-title">Login</h3>
				<form class="oc-form" id="infoForm" style="text-align: center;border: 2px solid #000;width: 600px;margin:0 auto;padding:20px;" method="post" action="/auth/doLogin.html">
						<li><label>User name</label> 
							<input name="username"  value="" type="text"  class="input-text"  placeholder="请输入用户名" >
						</li>
						<li><label>Password</label> 
							<input id="password" name="password" type="password" class="input-text" placeholder="请输入密码" autocomplete="off" />
						</li>
						<li><label>Verification code</label> 
						<input id="identiryCode" name="identiryCode" maxlength="6" class="input-text" type="text" style="width: 150px;" placeholder="请输入验证码"/>
						<a class="vali-base"><img  onclick="reloadIndityImg('indeityImgLogin');" id="indeityImgLogin"  src="/tools/identiry/code.html" style="width:80px;height:40px;float:left;margin-left:70px;"/></a>
						</li>
						<li>
							
                           	<input type="checkbox" value="1" id="checkbox1" name="rememberMe" style="float: left;margin-left:170px;">
                           	<span class="text"  style="float: left;margin-left:10px;">Next automatic login</span>
                      	</li>
						
						<#if errcode ?? && errcode == 1>
						<li style="text-align: left;">
							<span style="color:red; margin-left:170px;">Please enter the correct verification code</span>
						</li>
						</#if>
						<#if errcode ?? && errcode == 2>
						<li style="text-align: left;">
							<label style="background-color:#FFF;"></label>
							<span style="color:red; margin-left:170px;">Wrong username and password</span>
						</li>
						</#if>
						
						<li class="clearfix" style="margin-top: 20px;">
							<input type="submit" value="Login" class="btn" ">
							<div class="btn" onclick="window.location.href='/auth/register.html'">Register</div>
						</li>
					</form>
			</div>
		</div>
		
		<#include "../common/footer.html">
	</body>
	
</html>
