<#if (page.items)??>
<#list page.items as item>
<div class="comment clearfix">
	<div class="comment-header"><img class="lecturer-uimg" src="/res/i/head.jpg"></div>
	<div class="comment-main">
		<div class="user-name">${item.username!}</div>
		<#if item.refContent?? && item.refContent != ''>
		<div style="margin-top:5px;padding: 5px;border:1px solid #ccc;background-color:#eee;">
			${item.refContent!}
		</div>
		</#if>
		<div class="comment-content">${item.content!}</div>
		<div class="comment-footer">
			<#if item.createTime??>
			<span>Time：${item.createTime?string('yyyy-MM-dd')} </span>
			</#if>
			<a href="/course/video/${item.id!}.html" >${item.sectionTitle!}</a>
		</div>
	</div>
</div>	
</#list>	
<#include "./common/tailPage.html">
</#if>

